#testimonials {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#testimonials_chef {
    width: 500px;
    height: auto;
}

#testimonials .subtitle {
    font-size: 3rem;
}

#testimonials .title {
    color: var(--color-primary-3);
}

#testimonials_content {
    width: 50%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20x;
    margin-bottom: 40px;
    margin-top: 20px;
}

.feedback {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content p {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.feedback-content p span {
    color: var(--color-primary-3);
}

@media screen and (min-width: 591px) and (max-width: 1290px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonials_chef {
        display: none;
    }

    #testimonials_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }
}

@media screen and (max-width: 590px) {
    #testimonials_content {
        width: 100%;
    }

    #testimonials_content button {
        margin: auto;
    }

    #testimonials .subtitle {
        font-size: 2rem;
        text-align: center;
    }

    #testimonials .title {
        text-align: center;
    }

    .feedback-content p {
        padding-left: 0px;
    }

    #testimonials_chef {
        display: none;
    }

    .feedback {
        flex-direction: column;
    }    
}